:root {
    --accent-color: #ee313c;
}

html, body, div, ul, p, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 12p;
}

.cover {
    background-color: black;
    color: white;
    height: 400px;
    display: flex;

    background-image: url("../res/cover.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
}

.cover-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-text {
    padding: 50px 10%;
}

ul li {
    display: inline;
}

.card-filter {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0px 5px 0px;
}

.navbar {
    padding: 0px 10%;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(80px);
}

.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-list li {
    padding: 10px 48px 10px 0px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.card {
    width: 225px;
    height: 325px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    transition: filter 0.25s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: ease .25s;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.card:hover {
    filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.25));
    transition: filter 0.25s ease-out;
}

.card-image {
    background-color: lightgrey;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.card-text {
    padding: 10px;
}

.card-title {
    font-weight: 700;
}

.card-tags {
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.5)
}

#portfolio, .filters-bar {
    padding: 0px 10%;
}

.filters-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(250, 250, 250, .75);
    backdrop-filter: blur(20px);
    margin-bottom: 25px;
}

.checkbox {
    font-size: .75rem;
    font-weight: 600;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 64px;
    height: 1.5rem;
    padding-left: 2px;
    padding-right: 12px;
    margin-right: 16px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.checkbox-circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    margin-right: 8px;
}

.checked {
    background-color: #3FB865;
    color: white;
    border: 2px solid #3FB865;
}

.checkmark {
    border: solid white;
    border-width: 0 2px 2px 0;
    width: .25rem;
    height: .5rem;
    transform: rotate(45deg);
    margin: auto;
    margin-bottom: .275rem;
}

.checked .checkbox-circle {
    border-color: white;
    background-color: #3FB865;
    display: flex;
    align-items: center;
}

.hiddenCard {
    border-width: 0px;
    width: 0px;
    margin: 0px !important;
    transition: ease .25s;
    opacity: 0%;
}

