:root {
    --accent-color: #ee313c;
}

html, body, div, ul, p, a, h1, h2, h3, h4, h5, img {
    margin: 0px;
    padding: 0px;
}


a, a:hover, a:visited {
    color: inherit;
    text-decoration: unset;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
}

.cover {
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    background-image: url("../res/cover.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
}

.cover-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-text {
    padding: 50px 10% 0px;
}

.page-title {
    padding-top: 25px;
    max-width: 400px;
}

ul li {
    display: inline;
}

.list li {
    display: block;
}

.card-filter {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0px 5px 0px;
}

.navbar {
    padding: 0px 10%;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .0);
    backdrop-filter: blur(80px);
    max-width: 100%;
    overflow: hidden;
    font-weight: 300;
}

.filters-bar p {
    user-select: none;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-list li {
    padding: 10px 32px 10px 0px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 225px;
    height: 345px;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 1);
    transition: filter 0.25s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: ease .25s;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.card:after {
    content: "";
    width: 224px;
    height: 0px;
    margin-top: calc(345px);
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 32px;
    position: absolute;
    opacity: 0;
    background-image: url("../res/go.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 224px;
    transition: ease .25s;
}

.card:hover:after {
    opacity: 1;
    margin-top: 0px;
    height: 345px;
    transition: ease .2;

}

.card:hover .card-title {
    color: white;
    z-index: 9999;
    position: absolute;
}
.card:hover .card-tags {
    height: 100%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.card:hover .card-tags p {
    display: inline-block;
    margin-right: 2.5px;
    color: white;
    background-color: transparent;
    z-index: 9999;
    border-color: white;

}

.card:hover {
    transition: filter 0.25s ease-out;
}

.card-image {
    background-color: lightgrey;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.card-text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.card-title {
    font-weight: 700;
}

.card-tags {
    font-size: .6rem;
}

#portfolio, .filters-bar {
    padding: 0px 10%;
}

.filters-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(250, 250, 250, .75);
    backdrop-filter: blur(20px);
    margin-bottom: 25px;
}

.checkbox {
    font-size: .75rem;
    font-weight: 600;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 64px;
    height: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 16px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.checkbox-circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    margin-right: 8px;
}

.checked {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.reset {
    border-color: black;
}

.reset .checkmark {
    border: solid black;
    border-width: 0 2px 2px 0;
    width: .25rem;
    height: .5rem;
    transform: rotate(45deg);
    margin: auto;
    margin-top: .1rem;
}

.checked .checkmark {
    border: solid white;
    border-width: 0 2px 2px 0;
    width: .25rem;
    height: .5rem;
    transform: rotate(45deg);
    margin: auto;
    margin-bottom: .275rem;
}

.reset .checkbox-circle {
    border-color: black;
}

.checked .checkbox-circle {
    border-color: white;
    background-color: black;
    display: flex;
    align-items: center;
}

.checkbox-label {
    padding-right: 10px;
}

.checkbox-reset {
    margin: 0px;
}

.hiddenCard {
    border-width: 0px;
    width: 0px;
    margin: 0px !important;
    transition: ease .25s;
    opacity: 0%;
}

.p-tag {
    display: inline-block;
    padding: 0px .5rem;
    border-radius: 16px;
    border: 1px solid lightgray;
    color: lightgray;
    width: fit-content;
    margin-bottom: 2px;
}

.tag-enabled {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.download-section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: rgba(0, 0, 0, 0.05)
}

.button {
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 64px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid black;
}

.button:hover {
    color: white;
    background-color: black;
}

.project-container {
    padding: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.project-description {
    width: 50%;
    margin-right: 50%;
}

.dark {
    color: black;
}
.medusa {
    background-image: url("../res/projects/medusa_00.jpg");
    background-position-x: 33%;
}

.moneyphone {
    background-image: url("../res/projects/moneyphone_00.jpg");
    background-position-x: 40%;
}

.pitybear {
    background-image: url("../res/projects/pitybear_00.jpg");
    background-position-x: 33%;
}

.volcano {
    background-image: url("../res/projects/volcano_00.jpg");
    background-position-x: 60%;
}

.deepfakelab {
    background-image: url("../res/projects/deepfakelab_00.jpg");
    background-position-x: 33%;
}

.solaris {
    background-image: url("../res/projects/solaris_00.jpg");
    background-position-x: 75%;
}

.strawberry {
    background-image: url("../res/projects/strawberry_00.jpg");
    background-position-x: 33%;
}

.ddoubled {
    background-image: url("../res/projects/ddoubled_00.jpg");
    background-position-x: 33%;
}

.monopoly {
    background-image: url("../res/projects/monopoly_00.jpg");
    background-position-x: 37.5%;
}

.metro_recorder {
    background-image: url("../res/projects/metro_recorder_00.jpg");
    background-position-x: 33%;
}

.rimac_stand {
    background-image: url("../res/projects/rimac_stand_00.jpg");
    background-position-x: 34%;
}

.rimac_brochures {
    background-image: url("../res/projects/rimac_brochures_00.jpg");
    background-position-x: 33%;
}

.rimac_photos {
    background-image: url("../res/projects/rimac_photos_00.jpg");
    background-position-x: 33%;
}

.rimac_video {
    background-image: url("../res/projects/rimac_video_00.jpg");
    background-position-x: 33%;
}

.olgiate_music_festiva {
    background-image: url("../res/projects/olgiate_music_festiva_00.jpg");
    background-position-x: 33%;
}

.leed {
    background-image: url("../res/projects/leed00.jpg");
    background-position-x: 33%;
}

.gallery {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-photo {
    max-width: 47.5%;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    background-color: inherit;
}

.img-container-fit {
    max-width: calc(50% - 40px);
    max-height: 480px;
}

.img-fit {
    max-width: 100%;
    max-height: 480px;
}

.img-big, .img-container-big {
    max-width: 100%;
    max-height: 100%;
}

.minifooter {
    background-color: black;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 1);
}

.love {
    text-align: center;
    padding: .5rem;
}


.red {
    color: var(--accent-color);
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 50%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.animate-in {
    animation: .25s ease 0s 1 slideInFromBottom;
}

.navbar-list li:hover {
    text-decoration: underline;
}

.photogallery {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    z-index: 9999;
}

.photogallery-controls {
    display: flex;
    align-items: center;
    height: 100%;
}

.photogallery-photo-frame {
    width: 100%;
    display: flex;
    justify-content: center;
}


.photogallery-back-arrow, .photogallery-next-arrow {
    width: 100px;
    height: 25%;
    cursor: pointer;
}

.photogallery-img {
    margin: 0px 50px;
    max-width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.spacing {
    height: 33%;
}


.arrow {
    border: solid rgb(96, 96, 96);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 25px;
  }

  .arrow:hover {
    border-color: white;
  }

  .photogallery-back-arrow:hover .arrow, .photogallery-next-arrow:hover .arrow {
    border-color: white;
  }


  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .photogallery-topbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
  }
  .photogallery-close {
      position: absolute;
      right: 0px;
      top: 0px;
    width: 32px;
    height: 32px;
    padding: 16px;
    position: relative;
    cursor: pointer;
}
.photogallery-close:after {
    content: '';
    height: 32px;
    border-left: 3px solid rgb(96, 96, 96);
    position: absolute;
    transform: rotate(45deg);
    left: 24px;
}

.photogallery-close:before {
    content: '';
    height: 32px;
    border-left: 3px solid rgb(96, 96, 96);
    position: absolute;
    transform: rotate(-45deg);
    left: 24px;
}

.photogallery-close:hover:after, .photogallery-close:hover:before {
    border-left: 3px solid white;
}

img {
    cursor: pointer;
}
.photogallery-img {
    cursor: auto;
 }

 .highlight {
     font-size: 1.5rem;
     font-weight: 300;
     padding-bottom: 25px;
 }

 .project-description {
    padding-left: 5%;
 }

 .photogallery-line {
    display: flex;
    position: fixed;
    height: 3px;
    background-color: rgba(196, 196, 196, .25);
    bottom: 0px;
    transition: width ease .25s;
    min-width: 0px !important;
    margin: 12px;
    border-right: 6px solid rgba(255, 255, 255, .33);
 }

 @media screen and (max-width: 480px) {
     .cards {
        justify-content: center;    
     }
    .navbar {
        overflow-x: scroll;
    }
    .project-container {
        padding: 30px 7.5px;
    }
    
    #portfolio {
        padding: 0px 7.5px;
    }
    .project-description {
        width: 100%;
        margin-right: 0px;
        padding: 0px;
    }
    .gallery-photo {
        width: 100%;
        height: auto;
        background-color: inherit;
    }
    .img-fit, .img-big, .img-container-big, .img-container-fit {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-right: 0px;
    }

    .filters-bar {
        margin-bottom: 5px;
    }
    .filters-bar {
        padding: 0px 5%;
    }
}