:root {
    --accent-color: #ee313c;
}

html, body, div, ul, p, a, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: unset;
}

h1 {
font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 12p;
}

.cover {
    background-color: black;
    color: white;
    height: 400px;
    display: flex;

    background-image: url("../res/cover.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
}

.cover-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-text {
    padding: 50px 10% 0px;
}

.page-title {
    padding-top: 25px;
    width: 400px;
}

ul li {
    display: inline;
}

.card-filter {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0px 5px 0px;
}

.navbar {
    padding: 0px 10%;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .0);
    backdrop-filter: blur(80px);
    max-width: 100%;
    overflow: hidden;
    font-weight: 300;
}

.filters-bar p {
    user-select: none; 
}

.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar-list li {
    padding: 10px 48px 10px 0px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.card {
    width: 225px;
    height: 345px;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 1);
    transition: filter 0.25s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: ease .25s;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.25));
    transition: filter 0.25s ease-out;
}

.card-image {
    background-color: lightgrey;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.card-text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.card-title {
    font-weight: 700;
}

.card-tags {
    font-size: .6rem;
}

#portfolio, .filters-bar {
    padding: 0px 10%;
}

.filters-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(250, 250, 250, .75);
    backdrop-filter: blur(20px);
    margin-bottom: 25px;
}

.checkbox {
    font-size: .75rem;
    font-weight: 600;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 64px;
    height: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 16px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.checkbox-circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    margin-right: 8px;
}

.checked {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.reset {
    border-color: black;
}

.reset .checkmark {
    border: solid black;
    border-width: 0 2px 2px 0;
    width: .25rem;
    height: .5rem;
    transform: rotate(45deg);
    margin: auto;
    margin-top: .1rem;
}

.checked .checkmark {
    border: solid white;
    border-width: 0 2px 2px 0;
    width: .25rem;
    height: .5rem;
    transform: rotate(45deg);
    margin: auto;
    margin-bottom: .275rem;
}

.reset .checkbox-circle {
    border-color: black;

}

.checked .checkbox-circle {
    border-color: white;
    background-color: black;
    display: flex;
    align-items: center;
}

.checkbox-label {
    padding-right: 10px;
}

.checkbox-reset {
    margin: 0px;
}



.hiddenCard {
    border-width: 0px;
    width: 0px;
    margin: 0px !important;
    transition: ease .25s;
    opacity: 0%;
}

.p-tag{
    display: inline-block;
    padding: 0px .5rem;
    border-radius: 16px;
    border: 1px solid lightgray;
    color: lightgray;
    width: fit-content;
    margin-bottom: 2px;
}

.tag-enabled {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.download-section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: rgba(0, 0, 0, 0.05)
}

.button {
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 64px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid black;
}

.button:hover {
    color: white;
    background-color: black;
}

.project-container {
    padding: 50px 10%;
    display: flex;
}

.project-description {
    width: 50%;
}

.medusa {
    background-image: url("../res/projects/medusa_00.jpg");
    background-position-x: 33%;
}

.gallery {
    padding-left: 50px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-photo {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    background-color: brown;
}

.img-fit {
    width: 100%;
    height: auto;
}